<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      
        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
        <!-- Icon - IconMonster -->
        <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
        <!-- Icon - Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <!-- Mumble UI -->
        <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
        <!-- Dev Search UI -->
        <link rel="stylesheet" href="{% static 'styles/app.css' %}" />
      
        <title>DevSearch - Connect with Developers!</title>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!--Navbar Start-->
        {% include "navbar.html" %}
        <!--Navbar Start-->

        {% comment %} {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endcomment %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert--{{message.tags}}">
                <p class="alert__message">{{message}}</p>
                <button class="alert__close">x</button>
            </div>
            {% endfor %}
        {% endif %}

        <!--Content Start-->
        {% block content %}
        
        {% endblock content %}
        <!--Content end-->

        <script href="{% static 'uikit/app.js' %}"></script>
    </body>
</html>